* {
    box-sizing: border-box;
}

body {
    margin: 10;
}

.main {
    width: 320px;
    height: 620px;
    margin: auto 0;
    border: 10px solid rgb(238, 198, 152);
    font-size: 0;
    background-color: rgb(209, 177, 245)
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    display: inline-block;
}
.cellinfo {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.fixedCell {
    background-color: rgb(31, 174, 218);
}

.movingCell {
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
}

.wrapperTetris {
    display: flex;
    flex-wrap: wrap;
    background: rgb(238, 240, 205);
    width: 500px;
    border: 1px solid grey;
    margin: 100px auto 0;

}

.infoTetris {
    border: 1px solid grey;
    width: 150px;
}

.nextFigure {
    height: 60px;
    width: 120px;
    font-size: 0;
    border-collapse: collapse;
}

.tetroControl {
    padding: 0px;
    border: 1px solid rgb(248, 10, 10); 
    margin-left: 10px;
    text-align: center;
    width: 300px;
  }

.tetroControl button {
    padding: 2px;
    margin: 2px;
    margin-left: 35px;
    margin-right: 35px;
    border: 1px solid rgb(73, 73, 73); 
   height: 50px;
   width: 70px;
  }