*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(238, 240, 205);
}

.main{
    width: 320px;
    height: 620px;
    margin: 100px auto 0;
    border: 10px solid rgb(127, 126, 129);
    font-size: 0;
    background-color:rgb(202, 167, 241)
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(3, 1, 29);
    display: inline-block;
}

.fixedCell{
    background-color: rgb(40, 131, 12);
}

.movingCell{
    background-color: rgb(255, 255, 255);
}